<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/metas'); %>
</head>

<body>
    <%- include('../partials/menu'); %>
    <p>Hasta el momento se han subido <%= numFotos %> fotos</p>

    <ul>
        <% fotos.forEach(function(foto) { %>
            <li>
                <div>
                    <img class="foto" src="<%= foto.url %>" alt="<%= foto.titulo %>">
                    <strong>
                        <%= foto.titulo %> - <%= foto.fecha %>
                    </strong>                
                    <span style="background-color: rgb(<%= foto.color %>)">
                        <%= foto.color %>
                    </span>
                </div>
            </li>
            <% }); %>
    </ul>

    <script src="script.js"></script>
</body>

</html>